/* */

/* */
/* CSS crunched with Crunch - http://crunchapp.net/ */
html,
button,
input,
select,
textarea {
  color: #222222;
}
html,
body {
  font-family: 'Open Sans', WeblySleekUILight;
  font-size: 12px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', WeblySleekUILight;
  padding: 1px 0px;
  margin: 1px 0px;
  font-weight: 600;
  color: #222222;
}
h2 {
  font-size: 25px;
  line-height: 35px;
}
h3 {
  font-size: 20px;
  line-height: 30px;
}
h4 {
  font-size: 16px;
  line-height: 28px;
}
h5 {
  font-size: 14px;
  line-height: 27px;
}
h6 {
  font-size: 13px;
  line-height: 25px;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
#pgs:hover{
  color: #008ca1 !important;
}


:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*
* Predefined CSS
*/
/* Transitions */
/* Button */
a.btn,
a.btn:visited,
a.btn:hover {
  color: #333 !important;
}
a.btn-primary,
a.btn-primary:visited,
a.btn-primary:hover,
a.btn-warning,
a.btn-warning:visited,
a.btn-warning:hover,
a.btn-danger,
a.btn-danger:visited,
a.btn-danger:hover,
a.btn-success,
a.btn-success:visited,
a.btn-success:hover,
a.btn-info,
a.btn-info:visited,
a.btn-info:hover,
a.btn-inverse,
a.btn-inverse:visited,
a.btn-inverse:hover {
  color: #fff !important;
}
.button {
  margin: 10px 0px 5px 0px;
}
.button a,
.button a:visited {
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
  font-family: 'Open Sans', WeblySleekUILight;
}
.button a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
/* Image alignment*/
.alignleft,
img.alignleft {
  margin-right: 8px;
  margin-top: 5px;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 8px;
  margin-top: 5px;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* Back to top */
.totop {
  position: fixed;
  background-color: #000;
  bottom: 0px;
  right: 0px;
  z-index: 104400;
}
.totop a,
.totop a:visited {
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.totop a:hover {
  color: #fff;
  text-decoration: none;
}
/* Container */
.container {
  max-width: 980px !important;
}
/* Header */
header,
header.inner-header {
  padding: 10px 0px 15px 0px;
}
header .logo,
header.inner-header .logo {
  padding: 0px;
}
.texttag{
  width: 506px;
}
header .logo h1 a,
header.inner-header .logo h1 a,
header .logo h1 a:visited,
header.inner-header .logo h1 a:visited,
header .logo h1 a:hover,
header.inner-header .logo h1 a:hover {
  font-size: 35px;
  color: #777;
  text-decoration: none;
  font-weight: 400;
}
header.inner-header {
  padding: 10px 0px 21px 0px !important;
}
/* Navigation #1 */
.navbar *,
.nav-collapse * {
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0px !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  font-family: WeblySleekUILight, 'Open Sans';
}
.navbar {
  padding-left: 0px;
  background: transparent;
  filter: none !important;
  border: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin-top: 10px;
  margin-bottom: 0px;
}
.navbar .btn {
  font-size: 13px;
  padding: 6px 10px;
  color: #fff !important;
}
.navbar ul li {
  list-style-type: none;
  padding: 0px;
}
.navbar button {
  border: 0px;
  background: #eee !important;
}
.navbar button:hover {
  background: #e9e9e9 !important;
}
.navbar button:hover .icon-bar {
  background: #ddd !important;
}
.navbar .caret {
  border-top-color: #888 !important;
  border-bottom-color: #888 !important;
}
.navbar a,
.navbar a:visited {
  color: #666 !important;
}
.navbar .nav > li > a,
.navbar .nav > li > a:visited {
  color: #666 !important;
  padding: 15px 15px 15px;
  filter: none !important;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
.navbar .nav > li > a:hover {
  background: transparent !important;
}
.dropdown-menu {
  border-radius: 0px !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0px 0px;
  margin: 0px;
  z-index: 300000;
  background: #b01e00;
  border: 0px !important;
}
.dropdown-menu li {
  background-color: #b01e00;
  /* width: 353px; */
    height: 34px;
}
.dropdown{
  color: #222;
}
.dropdown-menu a,
.dropdown-menu a:visited {
  padding: 7px 10px !important;
  color: #ccc !important;
  text-shadow: none !important;
  /* background: #222 !important; */
  background: #b02c27 !important;
   border-top: 1px solid #fff !important;
/*  border-bottom: 1px solid #222 !important; */
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  filter: none !important;
  background: #b01e00 !important;
}
.dropdown-menu:after,
.dropdown-menu:before {
  border: none !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}
/* Utilies Nav*/
.upper-mini-nav ul {
  text-align: right;
  padding: 0;
  margin-bottom: 0px;
}
.upper-mini-nav ul li {
  list-style-type: none;
  list-style: none;
  display: inline;
  line-height: 30px;
}
.upper-mini-nav ul li a {
  color: #333 !important;
  padding: 5px 15px 5px;
  filter: none !important;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  height: 20px;
}
.upper-mini-nav ul li a:hover {
  color: #008ca1 !important;
  text-decoration: none;
}
/* Parallax Slider */
.da-slider {
  margin-bottom: 0px;
}
.da-slide h2 {
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 35px;
}
.da-slide h2 span {
  padding: 5px 15px;
}
.da-slide p {
  position: absoulte;
  top: 100px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-style: normal;
  font-size: 13px;
  line-height: 23px;
  padding: 10px;
  padding-bottom: 0px;
}
.da-slide .da-link {
  top: 205px;
  border-radius: 0px;
  font-size: 13px;
  width: 100px;
  background: rgba(0, 0, 0, 0.8);
}
.da-slide .da-link:hover {
  background: rgba(0, 0, 0, 0.8);
}
.da-dots {
  display: none;
}
.da-dots span {
  background: #222;
}
.da-arrows span {
  background: #222;
}
/* Content */
.content {
  margin: 20px 0px;
}
/* Footer */
footer {
  background: #1570a6;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
  color: #fff;
  font-size: 12px;
}
footer a,
footer a:visited {
  color: #ddd;
}
footer a:hover {
  color: #ccc;
  text-decoration: underline;
}
footer hr {
  height: 0px;
  padding: 0px;
  margin: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
footer h3 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
}
footer h6 {
  color: #fff;
}
footer ul {
  margin-left: 0px;
  padding-left: 0px;
}
footer ul li {
  list-style-type: none;
}
footer .widget {
  margin-bottom: 10px;
}
footer .copy {
  margin: 20px 0px 84px 0px;
  font-size: 11px;
  padding-left: 15px;
  font-style: italic;
}
footer .more-info {
  list-style: none;
  margin: 0px;
}
/* Search Input*/
.searchinput {
  background: url(../img/toppage/search.png) no-repeat 98% 4px;
  border: 1px solid #998675;
  padding-right: 20px;
  line-height: 22px;
  padding-left: 5px;
  font-size: 12px;
  width: 200px;
}
.searchinput:hover,
.searchinput:focus {
  border-color: #008ca1;
}
.btnSearch {
  line-height: 22px;
  border: 1px solid #998675;
  background-color: #fff;
}
/* Top Page*/
.logo .mainlogo {
  padding: 0px 0px 0px 20px;
}
.logo .txtlogo {
  margin: 45px 0px 0px 2%;
  padding-left: 0px !important;
}
.logo .txtlogo .textlogo {
  height: 46px;
  width: 181px;
  background: url(../img/toppage/abktxtlogo.png) no-repeat;
}
.logo .texttag {
  font-size: 30px;
  margin: 30px 0px 0px 12%;
  line-height: 1.2em;
  font-weight: 800;
  color: 1a1a1a;
  font-family: 'WeblySleekUILight', 'sans-serif', 'Open Sans';
}
/* Inner Page*/
.inner-logo .inner-mainlogo {
  padding: 10px 0px 0px 20px;
}
.inner-logo .inner-txtlogo {
  margin: 43px 0px 0px 1%;
  padding-left: 0px !important;
}
.inner-logo .inner-txtlogo .inner-textlogo {
  height: 39px;
  width: 145px;
  background: url(../img/inner-text-logo.png) no-repeat;
}
.inner-logo .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #dddddd;
  border-radius: 0px;
}
.inner-logo .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
.inner-logo .navbar-toggle:hover {
  background: #e9e9e9 !important;
}
.inner-logo .inner-menu {
  /* margin: 24px 0px 0px 10%; */
  margin: 24px 0px 0px 9%;
}
.inner-logo .inner-menu ul {
  padding: 0px;
}
.inner-logo .inner-menu ul li {
  list-style-type: none;
  list-style: none;
  display: inline;
  float: left;
}
.inner-logo .inner-menu ul li a {
  color: #fff;
  width: 95px;
  height: 72px;
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
}
.inner-logo .inner-menu ul li:hover {
  background-color: #000 !important;
}
.inner-logo .inner-menu ul li.dm {
  background-color: #b01e00;
}
.inner-logo .inner-menu ul li.dm a {
  background: url(../img/program/icons/dm.png) no-repeat center 7px;
  padding-top: 40px;
}
.inner-logo .inner-menu ul li.cp {
  background-color: #8c0095;
}
.inner-logo .inner-menu ul li.cp a {
  background: url(../img/program/icons/pc.png) no-repeat center 7px;
  padding-top: 40px;
}
.inner-logo .inner-menu ul li.he {
  background-color: #15992a;
}
.inner-logo .inner-menu ul li.he a {
  background: url(../img/program/icons/hc.png) no-repeat center 11px;
  padding-top: 40px;
}
.inner-logo .inner-menu ul li.el {
  background-color: #ff981d;
}
.inner-logo .inner-menu ul li.el a {
  background: url(../img/program/icons/el.png) no-repeat center 7px;
  padding-top: 40px;
}
.inner-logo .inner-menu ul li.ee {
  background-color: #084ab2;
}
.inner-logo .inner-menu ul li.ee a {
  background: url(../img/program/icons/fe.png) no-repeat center 11px;
  padding-top: 40px;
}
.inner-logo .inner-menu ul li.ep {
  background-color: #632f00;
}
.inner-logo .inner-menu ul li.ep a {
  background: url(../img/program/icons/ep.png) no-repeat center 7px;
  padding-top: 40px;
}

.inner-logo .navbar-hide {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #dddddd;
  border-radius: 0px;
}


.header-flex {
  margin: 0px !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0px !important;
  background-color: black;
}
.header-flex .header-images {
  width: 100%;
  height: 255px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-flex {
  background-image: url(../img/photos/banner1.png);
  background-position: center 80%;
}
.header-flex .youtube-float-left {
  width: 300px;
  height: 200px;
  /* margin: 2% 0% 0% 20%; */
  margin: 2% 0% 0% 40%;
}
.header-flex .youtube-float-center {
  margin: 2.4% 0% 0% 40% ;
  width: 24%;
  height: 200px;
}
.header-flex .youtube-float-right {
  width: 300px;
  height: 200px;
  /* margin: 2% 0% 0% 60%; */
  margin: 2% 0% 0% 40%;
}
.header-flex .img2 {
  background-image: url(../img/photos/banner2.png);
}
.header-flex .img3 {
  background-image: url(../img/photos/banner3.png);
  background-position: center 70%;
}
.header-flex .img4 {
  background-image: url(../img/photos/banner4.png);
  background-position: center 30%;
}
.sidebar {
  padding: 0px;
  width: 31.4%;
}
.sidebar .connectwithus {
  width: 100%;
  float: left;
  /*
            Support your chosen program
            */
  /*
            See What's Happening in your Hometown
            */
  /*
            Retiring to Make a Difference
            */
  /*
            Businesses for Social Change
            */
}
.sidebar .connectwithus .connectTiles {
  width: 147px;
  height: 147px;
  background-size: cover !important;
  float: left;
  position: relative;
}
.sidebar .connectwithus .connectTiles div.connectTitle-Title {
  height: 34px;
  width: 100%;
  line-height: 15px;
  font-size: 13px;
  padding: 1px 5px 5px 5px;
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.sidebar .connectwithus .right-tile {
  margin: 0px 0px 5px 5px;
}
.sidebar .connectwithus .left-tile {
  margin: 0px 5px 5px 0px;
}
.sidebar .connectwithus .bottom-tile {
  margin-top: 5px !important;
}
.sidebar .connectwithus div.sscp {
  background: url(../img/sidebar/connect/tile1.png) no-repeat;
}
.sidebar .connectwithus div.sscp div.connectTitle-Title {
  background-color: #084ab2;
}
.sidebar .connectwithus div.swhh {
  background: url(../img/sidebar/connect/tile2.png) no-repeat;
}
.sidebar .connectwithus div.swhh div.connectTitle-Title {
  background-color: #632f00;
}
.sidebar .connectwithus div.rmd {
  background: url(../img/sidebar/connect/tile3.png) no-repeat;
}
.sidebar .connectwithus div.rmd div.connectTitle-Title {
  background-color: #d24726;
}
.sidebar .connectwithus div.bsc {
  background: url(../img/sidebar/connect/tile4.png) no-repeat;
}
.sidebar .connectwithus div.bsc div.connectTitle-Title {
  background-color: #3e556d;
}
.sidebar .social-links {
  width: 100%;
  height: 41px;
  float: left;
  margin: 30px 0px 30px 0px;
}
.sidebar .social-links ul.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left !important;
}
.sidebar .social-links ul.social-list li.social-icons {
  margin: 0px 11.5px 0px 0px;
  float: left;
}
.sidebar .social-links ul.social-list li.social-icons a {
  width: 41px;
  height: 41px;
  float: left;
}
.sidebar .social-links ul.social-list li.social-icons .fb {
  background: url(../img/social/fb.png) no-repeat;
}
.sidebar .social-links ul.social-list li.social-icons .gplus {
  background: url(../img/social/gplus.png) no-repeat;
}
.sidebar .social-links ul.social-list li.social-icons .twitter {
  background: url(../img/social/twi.png) no-repeat;
}
.sidebar .social-links ul.social-list li.social-icons .in {
  background: url(../img/social/in.png) no-repeat;
}
.sidebar .social-links ul.social-list li.social-icons .pi {
  background: url(../img/social/pi.png) no-repeat;
}
.sidebar .social-links ul.social-list li.social-icons .youtube {
  background: url(../img/social/youtube.png) no-repeat;
}
.sidebar .social-links ul.social-list li.sc-last {
  margin-right: 0px !important;
}
.sidebar .joinforum {
  width: 100%;
  height: 75px;
  background-color: #2980b9;
  float: left;
  padding: 13px;
}
.sidebar .joinforum .forum-icon {
  width: 54px;
  height: 49px;
  background: url(../img/sidebar/joinforum.png) no-repeat;
  float: left;
  margin-right: 14px;
}
.sidebar .joinforum h2 {
  color: white;
  font-weight: 200;
  line-height: 23px;
  font-size: 23px;
}
.sidebar .joinforum:hover {
  background-color: #1f608a;
}
.sidebar h5 {
  line-height: 25px;
  width: 100%;
  color: #fff;
  padding: 5px;
}
.sidebar h5.section-title {
  color: #000 !important;
  padding: 2px !important;
  font-size: 15px !important;
}
.sidebar .e-newsletter {
  width: 100%;
  float: left;
  margin-top: 30px;
  padding-bottom: 10px;
}
.sidebar .e-newsletter h5 {
  background-color: #084ab2;
}
.sidebar .e-newsletter form {
  margin-top: 20px;
}
.sidebar .e-newsletter form input[type="text"] {
  margin: 10px 0px 0px 10px;
  height: 25px;
}
.sidebar .e-newsletter form input.input-newsletter-name {
  width: 93%;
}
.sidebar .e-newsletter form input.input-newsletter-email {
  width: 70%;
}
.sidebar .e-newsletter form input.input-newsletter-button {
  width: 68px;
  height: 25px;
  border: none;
  background-color: #084ab2;
  color: #fff;
  font-size: 13px;
}
.sidebar .announcements,
.sidebar .forums {
  padding: 0px;
  width: 100%;
  float: left;
  font-size: 12px !important;
}
.sidebar .announcements h5,
.sidebar .forums h5 {
  background-color: #b01e00;
  margin-bottom: 20px;
}
.sidebar .announcements .annList,
.sidebar .forums .annList {
  padding: 5px;
  /*height: 80px;*/
}
.sidebar .announcements .annList a.ann-title,
.sidebar .forums .annList a.ann-title {
  font-weight: bold;
}
.sidebar .announcements .annViewAll a,
.sidebar .forums .annViewAll a {
  color: #ababab;
  font-style: italic;
  margin-right: 5px;
}
.sidebar .announcements {
  margin-top: 15px;
}
/* Programs */
.programs {
  margin: 0px !important;
  padding: 0px 0px 0px 15px;
  width: 67.4%;
}
.programs .programTiles {
  width: 293px;
  height: 217px;
  float: left;
  margin: 0px 29px 36px 0px;
  background-color: black;
  /*
        *	Disaster Risk Management
        */
  /*
        *	Health Care fro Everyone
        */
  /*
        *	Create your own personnal cause
        */
  /*
        *	Economic Livelihood
        */
  /*
        *	Environmental Preservation
        */
}
.programs .programTiles .flexslider {
  width: 100% !important;
  height: 100% !important;
  margin: 0px 0px !important;
  border-radius: none !important;
  -webkit-border-radius: 0px;
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.programs .programTiles .flexslider li.slide div {
  height: 217px;
  width: 100%;
  background-size: cover !important;
}
.programs .programTiles .flexslider div.tile-title {
  height: 41px;
  width: 100%;
  line-height: 15px;
  font-size: 18px;
  position: absolute;
  top: 0;
  z-index: 999;
  color: #fff;
  padding: 4.5% 0px 0px 45px;
  background-position: 3% center;
  background-repeat: no-repeat;
}
.programs .programTiles .flexslider div.tile-tagline {
  background-color: black;
  height: 41px;
  width: 100%;
  color: white;
  padding: 5px;
  line-height: 12px;
  padding: 4.5% 5px 5px 10px;
  position: absolute;
  bottom: 0;
  z-index: 999;
  font-size: 15px;
  background: rgba(46, 46, 46, 0.7);
}
.programs .programTiles .dm div.tile1 {
  background-color: #b01e00;
  background-image: url(../img/program/icons/dm.png);
}
.programs .programTiles .dm li.slide div.image1 {
  background: url(../img/program/tile1/img1.png) no-repeat center;
}
.programs .programTiles .dm li.slide div.image2 {
  background: url(../img/program/tile1/img2.png) no-repeat center;
}
.programs .programTiles .dm li.slide div.image3 {
  background: url(../img/program/tile1/img3.png) no-repeat center;
}
.programs .programTiles .dm li.slide div.image4 {
  background: url(../img/program/tile1/img4.png) no-repeat center;
}
.programs .programTiles .hc div.tile2 {
  background-color: #15992a;
  background-image: url(../img/program/icons/hc.png);
}
.programs .programTiles .hc li.slide div.image1 {
  background: url(../img/program/tile3/img1.png) no-repeat center;
}
.programs .programTiles .hc li.slide div.image2 {
  background: url(../img/program/tile3/img2.png) no-repeat center;
}
.programs .programTiles .hc li.slide div.image3 {
  background: url(../img/program/tile3/img3.png) no-repeat center;
}
.programs .programTiles .hc li.slide div.image4 {
  background: url(../img/program/tile3/img4.png) no-repeat center;
}
.programs .programTiles .pc div.tile3 {
  background-color: #8c0095;
  background-image: url(../img/program/icons/pc.png);
}
.programs .programTiles .pc li.slide div.image1 {
  background: url(../img/program/tile2/img1.png) no-repeat center;
}
.programs .programTiles .pc li.slide div.image2 {
  background: url(../img/program/tile2/img2.png) no-repeat center;
}
.programs .programTiles .pc li.slide div.image3 {
  background: url(../img/program/tile2/img3.png) no-repeat center;
}
.programs .programTiles .pc li.slide div.image4 {
  background: url(../img/program/tile2/img4.png) no-repeat center;
}
.programs .programTiles .el div.tile4 {
  background-color: #ff981d;
  background-image: url(../img/program/icons/el.png);
}
.programs .programTiles .el li.slide div.image1 {
  background: url(../img/program/tile4/img1.png) no-repeat center;
}
.programs .programTiles .el li.slide div.image2 {
  background: url(../img/program/tile4/img2.png) no-repeat center;
}
.programs .programTiles .el li.slide div.image3 {
  background: url(../img/program/tile4/img3.png) no-repeat center;
}
.programs .programTiles .el li.slide div.image4 {
  background: url(../img/program/tile4/img4.png) no-repeat center;
}
.programs .programTiles .fc div.tile5 {
  background-color: #084ab2;
  background-image: url(../img/program/icons/fe.png);
}
.programs .programTiles .fc li.slide div.image1 {
  background: url(../img/program/tile5/img1.png) no-repeat center;
}
.programs .programTiles .fc li.slide div.image2 {
  background: url(../img/program/tile5/img2.png) no-repeat center;
}
.programs .programTiles .fc li.slide div.image3 {
  background: url(../img/program/tile5/img3.png) no-repeat center;
}
.programs .programTiles .fc li.slide div.image4 {
  background: url(../img/program/tile5/img4.png) no-repeat center;
}
.programs .programTiles .ep div.tile6 {
  background-color: #632f00;
  background-image: url(../img/program/icons/ep.png);
}
.programs .programTiles .ep li.slide div.image1 {
  background: url(../img/program/tile6/img1.png) no-repeat center;
}
.programs .programTiles .ep li.slide div.image2 {
  background: url(../img/program/tile6/img2.png) no-repeat center;
}
.programs .programTiles .ep li.slide div.image3 {
  background: url(../img/program/tile6/img3.png) no-repeat center;
}
.programs .programTiles .ep li.slide div.image4 {
  background: url(../img/program/tile6/img4.png) no-repeat center;
}
.programs .endorsement-title {
  margin: 0px 0px 20px 0px !important;
}
.programs .endorsements {
  scrollbar-face-color: #008ca1;
  scrollbar-shadow-color: #008ca1;
  scrollbar-highlight-color: #008ca1;
  scrollbar-3dlight-color: #cacaca;
  scrollbar-darkshadow-color: #cacaca;
  scrollbar-track-color: #cacaca;
  scrollbar-arrow-color: #C1C1D1;
  color: #555656 !important;
  width: 95%;
  /* height: 300px; */
  padding: 10px;
  overflow-y: auto;
      word-break: break-all;
}
.programs .endorsements .testimonial .test-img {
  margin-right: 20px;
  float: left;
  width: 9%;
}
.programs .endorsements .testimonial .test-info {
  width: 87%;
  float: left;
}
.programs .endorsements .testimonial .test-info .test-name {
  font-size: 15px;
}
.programs .endorsements .testimonial .test-info .test-position {
  font-size: 12px;
}
.programs .endorsements .testimonial .test-info .test-message {
  color: #008ca1;
  font-size: 15px;
  font-style: italic;
}
.programs .endorsements::-webkit-scrollbar {
  width: 12px;
}
.programs .endorsements::-webkit-scrollbar-track {
  background-color: #cacaca;
}
.programs .endorsements::-webkit-scrollbar-thumb {
  background-color: #008ca1;
}
.programs .endorsements::-webkit-scrollbar-thumb:hover {
  background-color: #008ca1;
}
h5.section-title {
  /* margin: 10px 0px 10px 10px; */
  margin: 10px 0px 10px 0px;
  font-weight: 400;
  float: left;
  width: 100%;
  font-size: 15px !important;
}
.comming-soon-body {
  background: url(../img/commingsoonbg.png) no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 0px 5px #474849;
}
.comming-soon .cslogo .csmainlogo {
  margin-top: 15%;
  text-align: center;
  padding: 0px !important;
  width: 100% !important;
}
.comming-soon .cslogo .cstxtlogo {
  text-align: center;
  margin: 5px 0px 0px 0px !important;
  width: 100%;
}
.comming-soon .cslogo .cstxtlogo .cstextlogo {
  margin: auto;
  width: 334px;
  height: 31px;
  background: url(../img/toppage/abktxtlogolongwhite.png) no-repeat;
  background-position: center;
}
.comming-soon .cslogo .cstexttag {
  text-align: center;
  width: 100% !important;
  padding-bottom: 20px;
  margin-left: 0px !important;
  margin-top: 10px;
  font-size: 25px;
}
/* Inner Page*/
.inner-bread-crumbs {
  color: #808080;
  font-size: 12px;
  padding-left: 15px;
}
.inner-programs, .inner-post {
  margin: 0px !important;
  /* padding: 0px 0px 0px 15px; */
  width: 67.4%;
}
.inner-news-content{
  padding: 10px;
}
.inner-news-content .entry {
  width:95%;
  line-height: 20px;
  margin-left: 3%;
}
.inner-news-content .entry .meta{
  margin-bottom: 20px;
}
.inner-news-content .entry .bthumb3{
  margin-bottom: 20px;
}
.inner-news-content .entry .bthumb3 img{
  width: 99%;
}
h1.inner-program-title {
  margin: 10px 0px 16px 0px;
  font-weight: 400;
  font-size: 30px;
  padding-left: 15px;
  font-family: 'Segoe UI Light', 'Helvetica Neue', 'Segoe UI', 'Segoe WP', 'WeblySleekUILight', 'sans-serif', 'Open Sans';
}
.dm-latest-news-head {
  width: 151%;
  height: 305px;
  background-color: black;
  float: left;
  position: relative;
  margin-top:-21px;
}
.dm-latest-news-head .dm-latest-news-label {
  color: #fff;
  height: 61px;
  width: 100%;
  line-height: 15px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: #b01e00;
}
.dm-latest-news-head img {
  width: 100%;
}
.inner-tabs {
  width: 633px;
  margin-top: 20px;
  float: left;
}
.inner-tabs .nav-tabs {
  border-bottom: 1px solid #ffff;
}
.inner-tabs .nav-tabs li a {
  color: #000000;
  background-color: white;
  margin-right: 5px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 0;

}
.inner-tabs .nav-tabs li a:hover {
  background-color: #fff;
  color: #008ca1 !important;
}
.inner-tabs .nav-tabs li.active a {
  border-color: #008ca1;
  color: #000;
  /* background-color: #fff; */
  /* background-color: #0000ff42; */
  background-color: #0000ff1c;
  border-bottom: none;
}
.inner-tabs .tab-content {
  padding: 20px 10px 10px 10px;
  overflow-x: hidden;
}
.inner-news .entry {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: none;
}
.inner-news .entry h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 100;
  font-family: 'Segoe UI Light', 'Helvetica Neue', 'Segoe UI', 'Segoe WP', 'WeblySleekUILight', 'sans-serif', 'Open Sans';
  color: #000;
}
.inner-news .entry h2 a {
  color: #000;
  text-decoration: none;
}
.inner-news .meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 8px 0px;
  padding: 4px 8px;
  color: #888;
  text-transform: uppercase;
  font-size: 11px;
}
.inner-news .bthumb3 {
  float: left;
  max-width: 200px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  padding: 1px;
  box-shadow: 0px 0px 1px #777;
  pointer-events: none;
}
.inner-news p {
  margin: 15px 0px 0px 10px;
}
.inner-news .button {
  text-align: right;
}
.inner-news .button a,
.inner-news .button .button a:visited {
  color: #008ca1;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
.inner-news .button a:hover {
  color: #008ca1;
  text-decoration: underline;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
.inner-news .paging {
  width: 270px;
  clear: both;
  padding: 6px 0;
  line-height: 17px;
  font-size: 13px;
}
.inner-news .paging .current {
  background: #b01e00;
  border: 1px solid #b01e00;
  color: #fff;
}
.inner-news .paging span,
.inner-news .paging a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 5px 8px;
  text-decoration: none;
  width: auto;
  color: #666;
  background: #fff;
  border: 1px solid #ddd;
  font-weight: normal;
}
.inner-news .paging a:hover {
  background: #b01e00;
  border: 1px solid #b01e00;
  color: #fff;
}
.inside-contents{
  line-height: 20px !important;
}
@media only screen and (max-width: 480px) {
  h5.section-title {
    /* margin: 10px 0px 10px 10px; */
    margin: 10px 0px 10px 20px;
    max-width: 50%;
}
  #displaymenu{
  display: none;
}
  .da-img {
    display: none;
  }
  .da-slide h2 {
    font-size: 30px;
  }
  .da-slide p {
    width: 90%;
  }
  .col-left {
    width: 100%;
    float: none;
    margin-right: none;
  }
  .col-right {
    width: 100%;
    float: none;
  }
  .error-page .big-text {
    font-size: 80px;
    line-height: 90px;
  }
  .searchinput {
    margin-top: 10px !important;
    width: 100% !important;
  }
  .logo .txtlogo {
    display: none !important;
  }
  .logo .textlogo {
    width: 100% !important;
    background-size: 100% !important;
  }
  .logo .texttag {
    margin-top: 0px !important;
  }
  .programs {
    padding: 0px 5px 0px 5px !important;
    margin: 0px !important;
  }
  .programTiles {
    margin: 0px 4.5% 4.5% 4.5% !important;
    width: 91% !important;
  }
  .programTiles .flexslider li.slide div {
    width: 100% !important;
  }
  .programTiles .flexslider div.tile-title {
    padding: 12px 0px 0px 45px !important;
  }
  .programTiles .flexslider div.tile-tagline {
    padding-top: 12px !important;
  }
  .sidebar {
    padding: 0px !important;
  }
  .sidebar .connectwithus .connectTiles {
    margin: 0% 0% 5% 5.2% !important;
    height: 147px !important;
    width: 42% !important;
  }
  .sidebar .connectwithus .connectTiles div.connectTitle-Title {
    height: 34px !important;
    line-height: 15px !important;
    font-size: 13px !important;
  }
  .sidebar .social-links ul.social-list {
    width: 100% !important;
  }
  .sidebar .social-links ul.social-list li.social-icons {
    margin: 0% 0% 0% 4.6% !important;
    width: 11% !important;
  }
  .btnSearch {
    display: none;
  }
  .joinforum,
  .e-newsletter,
  .announcements,
  .forums {
    width: 100% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 630px) {
  .programs .programTiles .flexslider div.tile-title {
    padding: 7px 0px 0px 45px !important;
  }
  .programs .programTiles .flexslider div.tile-tagline {
    padding-top: 8px !important;
  }
   #displaymenu{
  display: none;
}
}
@media only screen and  (max-width: 767px) {
  .announcements-container{
    clear: both;
    margin-right: 5%;
  }
  .hideme {
      display: block!important;
      margin-top: -50px;
      /* max-width: 100%; */
      max-width: 107%;
      width: 106%;
  }
  .pagepull-left {
    width: 100% !important;
}
  .onethree {
    margin-bottom: 15px;
  }
  .onethree-left {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .onethree-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flex-caption {
    display: none;
  }
  header {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    margin-top: 10px;
  }
  .dropdown-menu a {
    margin: 0px !important;
  }
  .da-slide {
    left: 0px;
  }
  .da-slide .da-img {
    left: 70%;
  }
  .page-head {
    text-align: center;
  }
  .ctas .button {
    margin-top: 5px;
  }
  .service-two h5 {
    margin-top: 8px;
  }
  .form-inline button {
    margin-left: 0px;
  }
  .rs-caption {
    display: none;
  }
  .about-two .staff {
    max-width: 250px;
    margin: 0 auto;
  }
  .upper-mini-nav ul,
  .upper-mini-nav ul > li {
    text-align: center;
    line-height: 20px;
  }
  .upper-mini-nav ul > li > a {
    padding: 0px 5px 0px;
  }
  .logo .mainlogo {
    margin-top: 20px;
    text-align: center;
    padding: 0px !important;
    width: 100% !important;
  }
  .logo .txtlogo {
    text-align: center;
    margin: 5px 0px 0px 0px !important;
    width: 100%;
  }
  .logo .txtlogo .textlogo {
    margin: auto;
    width: 334px;
    height: 31px;
    background: url(../img/toppage/abktxtlogolong.png) no-repeat;
    background-position: center;
  }
  .logo .texttag {
    text-align: center;
    width: 100% !important;
    padding-bottom: 20px;
    margin-left: 0px !important;
    margin-top: 10px;
  }
  .programs {
    width: 100% !important;
    padding: 0px 0px 0px 3.5%;
  }
  .programs .programTiles {
    width: 47%;
    margin: 0px 7px 7px 0px;
  }
  .programs .programTiles .flexslider li.slide div {
    width: 100% !important;
  }
  .programs .programTiles .flexslider div.tile-title {
    padding: 12px 0px 0px 14%;
  }
  .programs .programTiles .flexslider div.tile-tagline {
    padding-top: 14px;
  }
  .endorsement-title,
  .abkpartners-title,
  .endorsements,
  .abkpartners {
    /* display: none; */
  }
  .sidebar {
    width: 100%;
    padding: 0px 0px 0px 3.5%;
  }
  .sidebar .connectwithus .connectTiles {
    margin: 0px 7px 7px 0px;
    width: 47%;
    height: 180px;
  }
  .sidebar .connectwithus .connectTiles div.connectTitle-Title {
    height: 41px;
    font-size: 18px;
    line-height: 16px;
  }
  .sidebar .social-links ul.social-list {
    width: 100%;
  }
  .sidebar .social-links ul.social-list li.social-icons {
    margin: 0% 0% 0% 4.4%;
    width: 11%;
  }
  .sidebar .joinforum,
  .sidebar .e-newsletter,
  .sidebar .announcements,
  .sidebar .forums {
    width: 95%;
  }
  .contact-us-footer,
  .more-info-footer,
  .programs-footer,
  .others-footer {
    width: 100% !important;
  }
  .header-flex .img1 .youtube-float {
    width: 87% !important;
    margin: 30px 0% 0% 6.5% !important;
  }
  /*
    INNER
    */
  .inner-logo .inner-mainlogo {
    text-align: center;
    width: 100%;
    padding: 0px !important;
    margin-top: 20px;
  }
  .inner-logo .inner-txtlogo {
    text-align: center;
    margin: 5px 0px 0px 0px !important;
    width: 100%;
  }
  .inner-logo .inner-txtlogo .inner-textlogo {
    margin: auto;
    width: 300px;
    height: 31px;
    background: url(../img/abktxtlogolong300.png) no-repeat;
  }
  .inner-logo .inner-menu {
    width: 100% !important;
    margin: 0px !important;
  }
  .inner-logo .inner-menu ul {
    padding: 0px;
  }
  .inner-logo .inner-menu ul li {
    width: 100% !important;
    height: 40px !important;
  }
  .inner-logo .inner-menu ul li a {
    width: 100% !important;
    text-align: left;
    padding: 0px 0px 0px 40px;
    font-size: 15px;
    height: 100% !important;
  }
  .inner-logo .inner-menu ul li.dm {
    background-color: #b01e00;
  }
  .inner-logo .inner-menu ul li.dm a {
    background: url(../img/program/icons/dm.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-logo .inner-menu ul li.cp {
    background-color: #8c0095;
  }
  .inner-logo .inner-menu ul li.cp a {
    background: url(../img/program/icons/pc.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-logo .inner-menu ul li.he {
    background-color: #15992a;
  }
  .inner-logo .inner-menu ul li.he a {
    background: url(../img/program/icons/hc.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-logo .inner-menu ul li.el {
    background-color: #ff981d;
  }
  .inner-logo .inner-menu ul li.el a {
    background: url(../img/program/icons/el.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-logo .inner-menu ul li.ee {
    background-color: #084ab2;
  }
  .inner-logo .inner-menu ul li.ee a {
    background: url(../img/program/icons/fe.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-logo .inner-menu ul li.ep {
    background-color: #632f00;
  }
  .inner-logo .inner-menu ul li.ep a {
    background: url(../img/program/icons/ep.png) no-repeat 5px center;
    padding-top: 15px;
  }
  .inner-programs {
    width: 97.5% !important;
  }
  .inner-programs .dm-latest-news-head {
    height: 250px;
  }
  /*tabs for */
  .inner-tabs .nav-tabs > li a {
    margin: 0px !important;
  }
  .inner-tabs .inner-news p {
    margin-left: 0px !important;
  }
  /*
    END INNER PAGES
    */

     #displaymenu{
        display: none;
      }
      .dropdown-menu li {
    background-color: #b01e00;
    width: 357px;
    height: 34px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pageinner-tabs {
    width: 165% !important;
    }
  .programs {
    width: 57.5%;
    padding: 0px;
    margin-left: 1% !important;
  }
  .programs .programTiles {
    width: 47%;
    margin: 0% 3% 3% 0%;
  }
  .programs .programTiles .flexslider div.tile-title {
    padding: 7px 0px 0px 40px;
  }
  .programs .programTiles .flexslider div.tile-tagline {
    padding-top: 7px;
  }
  .sidebar {
    width: 310px;
  }
  .hideme {
    display: block!important;
    margin-top: -50px;
    max-width: 152%;
    width: 192%;
}


}
@media only screen and  (max-width: 991px) {
  .title {
      width: 70%;
  }
  .dropdown-menu a {
    margin: 0px !important;
  }
  .da-slide {
    left: 0px;
  }
  .da-slide .da-img {
    left: 70%;
  }
  .logo .mainlogo {
    width: 150px;
    height: 150px;
  }
  .logo .txtlogo {
    margin-left: 3%;
  }
  .logo .texttag {
    margin-left: 9%;
    margin-top: 12px;
    width: 40%;
  }
  .contact-us-footer,
  .more-info-footer,
  .programs-footer,
  .others-footer {
    /* width: 25%; */
    padding-bottom: 20px;
  }
  .header-flex .img1 .youtube-float {
    width: 300px;
    margin: 4% 0% 0% 55%;
  }
  /*
    INNER
    */
  .inner-logo .inner-menu {
    margin: 24px 0px 0px 1%;
  }
  .inner-logo .inner-menu ul li a {
    width: 73px;
    height: 80px;
  }
  .inner-programs {
    width: 57.5%;
    margin-bottom: 30px !important;
  }
  .inner-programs .dm-latest-news-head .dm-latest-news-label {
    line-height: 20px !important;
    padding: 10px !important;
  }
  .inner-programs .dm-latest-news-head img {
    height: 100%;
  }
  .inner-tabs {
    width: 100%;
  }
  /* menu tabs for mobile size(portrait-landscape)*/
  .inner-tabs .nav-tabs > li {
    width: 100% !important;
  }
  /*
    END INNER PAGES
    */
}
@media only screen and (min-width: 992px) and (max-width: 1020px) {
  .programs {
    width: 66.1%;
    padding: 0px;
    margin-left: 1% !important;
  }
  .inner-logo .inner-menu {
    margin: 24px 0px 0px 5%;
  }
}


/*partners gallery*/

.wrap {
   overflow: hidden;
   margin: 10px;
}

.box {
   float: left;
   position: relative;
   width:33.33%;
   padding-bottom: 20%;

}

.boxInner {
   position: absolute;
   left: 5px;
   right: 5px;
   top: 5px;
   bottom: 5px;
   overflow: hidden;
}

.boxInner:hover{
  border: 1px solid #0ae;
}

.boxInner img {
   width: 100%;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   color: #FFF;
   padding: 5px;
   text-align: center;
   background: rgba(2, 101, 144, 0.5);
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

@media only screen and (max-width : 480px) {

   /* Smartphone view: 1 tile */

.box {
    width: 100%;
    padding-bottom: 100%;
}
}

@media only screen and (max-width : 650px) and (min-width : 481px) {

   /* Tablet view: 2 tiles */

.box {
    width: 50%;
    padding-bottom: 50%;
}
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {

   /* Small desktop / ipad view: 3 tiles */

   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {

   /* Medium desktop: 4 tiles */
.box {
    width: 25%;
    padding-bottom: 25%;
}
}


.border-flat{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.text-error .border-flat{
  background-color: rgb(253, 233, 233);
}


a.activityTitleToggle:hover{
  text-decoration: none !important;
}

#map_wrapper {
    height: 900px;
}

#map_canvas {
    width: 100%;
    height: 100%;
    background-color: #CCC;
}

#map-wrapper{
  padding-right: 15px;
}

#map{
  background-color: #CCC;
   width: 100%;
    height: 100%;

}


/*gallery*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#ddd;
    overflow:hidden;
    border: thin solid #fff;
}

.square:hover{
  border: thin solid #666;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:100%; /* = 100% - 2*5% padding */


}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:bottom;
}



/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.albumTitle{
  background-color: #333;
  padding: 5px;
}

.fontNormal{
  font-weight: normal !important;
}

.signupRows{
  padding-left: 20px;
  border-left: thin solid #eee
}

.maxlength{
  margin-top: 10px;
}

#side-donation{
  padding-top: 20px !important;
}

.scroll {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.scroll:hover {
  display: block;
  overflow-x: auto;

}

ul.nav li {
    display: inline-block;
    float: none;
}

.drop_menu{
  background-color: #b3d4fc;

}

#pagelimit{
  width: 135px;
}
.share_buttons > div {
    float:left;
    margin:0 0 0 7px;
}
.share_buttons{
    padding-top: 18px;
    margin-left: -10px;
}
}
#page-img{
  max-height: 305px;
  max-width: 635px;
}
#page-content{
  margin-top: 4px;
}
/*start of scrollable menu tab*/
.scroller-right{
  float:right;
  margin-right: 5px;
}

.scroller-left {
  float:left;
}
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
     padding:5px;
    height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}

.list li{
  display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
/*end of scrollable menu tab*/
}
/* responsive tablet --720 x 1280 galaxy note 2 -INDEX */
@media only screen and (min-width: 480px) and (max-width: 800px) {
 .programs .programTiles .flexslider div.tile-title {
  height: 46px;
  width: 100%;
  font-size: 18px;
  position: absolute;
  color: #fff;
  padding: 4.5% 0px 20px 45px;
}
.sidebar .joinforum h2 {
  color: white;
  font-weight: 200;
  line-height: 23px;
  font-size: 20px;
}
.sidebar .joinforum {
  width: 100%;
  height: 70px;
  padding: 13px;
}
.sidebar .connectwithus .connectTiles div.connectTitle-Title {
  height: 40px;
  width: 100%;
  line-height: 15px;
  padding: 5px 5px 5px 5px;
  color: white;
}
.sidebar .e-newsletter form input.input-newsletter-name {
  width: 95%;
}
.sidebar .e-newsletter form input.input-newsletter-email {
  width: 78%;
}
.sidebar .e-newsletter form input.input-newsletter-button {
  width: 69px;
  height: 25px;
  border: none;
  background-color: #084ab2;
  color: #fff;
  font-size: 13px;
}
.upper-mini-nav{
  left: 0px;
  padding: 0px;

}
.inner-programs{
  width: 100%;
}
.dm-latest-news-head {
  width: 100%;
  height: 305px;
  background-color: black;
  float: left;
  position: relative;
}

}
/*////////////*/
@media only screen and (min-width: 426px) and (max-width: 768px) {
  li.active a{

  }
#search-box{
 float: right;
}

.section-title{
  padding-left: 5px;
}
.connectTitle-Title{
  text-align: center;
}
.header-flex .youtube-float-center {
  margin: 6.4% 0% 0% 31%;
      width: 40%;
      height: 21%;
}
.dm-latest-news-head {
  width: 152%;
  height: 305px;
  background-color: black;
  float: left;
  position: relative;
}
/* .inner-programs, .inner-post {
    margin: 0px !important;
    /* padding: 0px 0px 0px 15px; */
    width: 58.6%;
} */

}
/*  responsive tablet size */

/* responsive sizes for smart phones*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .auto-resizable-iframe{
    /* display: none; */
    display:block;
}
.section-title{
  padding-left: 5px;
}
.connectTitle-Title{
  text-align: center;
}
.youtube-container{
  clear: both;
  /* display: block!important; */
  display:none;
  overflow: hidden;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding-top: 10px;
}
.container{
  clear: both;
}
.upper-mini-nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.upper-mini-nav ul li {
  width: 100px;
}
.sidebar .joinforum {
  width: 100%;
  height: 95px;
  padding: 13px;
}
.dm-latest-news-head {
  width: 100%;
  height: 305px;
  background-color: black;
  float: left;
  position: relative;
}

  }
  /* end of smart phone size*/
  /* END OF RESPONSIVE INDEX */

/* this is for responsive in PROGRAM > PAGES 720x1280 */

@media only screen and (min-width: 500px) and (max-width: 800px) {

.dm-latest-news-head .dm-latest-news-label {
  height: 45px;
}
#side-donation{
  width: 100%;
}

#displaymenu{
  display: none;
 }

.hideme{
  display: block!important;
}

.sidebar .connectwithus .connectTiles div.connectTitle-Title {
  height: 34px;
  width: 100%;
  line-height: 15px;
  font-size: 15px;
  padding: 7px 5px 5px 5px;
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 999;
  text-align: left;
}

#side-donation{
  width: 100%;
}
#side-donation img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.announcements-container{
  clear: both;
  /* margin-right: 35px; */
}



}
/*end of program pages*/

@media only screen and (min-width: 200px) and (max-width: 499px) {

.dm-latest-news-head .dm-latest-news-label {
  height: 45px;
}
#side-donation{
  width: 100%;
}
#side-donation img{
    display: block;
    margin-left: auto;
    margin-right: auto
}


.entry{
  width: 100%;
}
.entry .bthumb3{
    display: block;
    width: 100%;
}
.post-content{
  float: left;
  width: 100%;
}
.readmore{
  float: left;
}

#displaymenu{
  display: none;
 }

.hideme{
  display: block!important;
}
.title {
    width: 55%;
}


.sidebar .connectwithus .connectTiles div.connectTitle-Title {
  height: 34px;
  width: 100%;
  line-height: 15px;
  font-size: 17px;
  padding: 1px 5px 5px 5px;
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 999;
  text-align: left;
}

.announcements-container{
  clear: both;
  padding: 2%;
}
.sidebar .forums {
  padding: 2%;
  }

}


@media only screen and (min-width: 700px) and (max-width: 1020px) {

.dm-latest-news-head .dm-latest-news-label {
  height: 45px;
}
#side-donation{
  width: 100%;
}
#side-donation img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.sidebar .connectwithus .connectTiles div.connectTitle-Title {
  height: 40px;
  width: 100%;
  line-height: 15px;
  font-size: 13px;
  padding: 8px 5px 3px 5px;
  color: white;
  position: absolute;
  z-index: 999;
  text-align: left;
}

}

@media only screen and (min-width: 250px) and (max-width: 330px) {
.dm-latest-news-head .dm-latest-news-label {
  height: 60px;
}


}

/*THIS REPONSIVE AREA IS ONLY FOR TOP MENU*/
@media only screen and (min-width: 200px) and (max-width: 259px) {

.upper-mini-nav ul li a{
  font-size: 13px;
}

}
@media only screen and (min-width: 260px) and (max-width: 350px) {

.upper-mini-nav ul li a{
  font-size: 15px;
}
/* .header-flex .youtube-float-center {
  width: 225px;
  height: 157px;
  margin: 2% 0% 0% 40%;
  margin: 15% 0% 0% 16%;
} */
}

@media only screen and (min-width: 351px) and (max-width: 399px) {
  header {
      padding-top: 10px !important;
      padding-bottom: 0px !important;
      padding-left: 20px;
      padding-right: 20px;
  }
.upper-mini-nav ul li a{
  font-size: 16px;
}

}
@media only screen and (min-width: 400px) and (max-width: 1080px) {
.upper-mini-nav ul li a{
  font-size: 14px;
}

}
/* END OF TOP MENU RESPONSIVE */

/*RESPONSIVE FOR ANNOUNCEMENTS ONLY*/
@media only screen  and (max-width: 995px) {
  /* .inner-tabs .nav-tabs {
      border-bottom: 1px solid black;
      display: none; */

}
/*END OF ANNOUNCEMENTS*/

/*/////////// END OF PAGE RESPONSIVE ////////////////*/

@media only screen and (max-width:992px){
  .dropdown-menu a,
  .dropdown-menu a:visited {
    padding: 7px 10px !important;
    color: #ccc !important;
    text-shadow: none !important;
    /* background: #222 !important; */
    /* background: #b02c27 !important; */
    background: #b01e00c2 !important;
     border-top: 1px solid #fff !important;
  /*  border-bottom: 1px solid #222 !important; */
  }
  #displaymenu{
   display: none;
  }
 .hideme{
   display: block!important;
   margin-top:-50px;
       /* max-width: 100%; */
       /* max-width: 107%;
       width: 106%; */
 }
 .hideme .dropdown-menu li.active a{
   border-color: #b01e00 #b01e00 #fff;
   background-color: #0000ff42 !important;
   color:black !important;
   /* color: #000 !important;
   background-color: #fff !important; */
 }

 .dropdown-menu {
     border-radius: 4px !important;
     box-shadow: none !important;
     border: none !important;
         /* padding: 0px 190.5px 0px 2px; */
     margin: 0px;
     z-index: 300000;
     background: #b01e00;
     border: 0px !important;
  }
  .lcaret{
     /* margin-left:195px !important; */
         border-top-color: #fff !important;
   }
  .dropdown-menu li {
      background-color: #b01e00;
      /* width: 356px; */
      width:100%;
      height: 34px;
  }
  .dropdown-menu {
      position: relative;
  }
  .open>.dropdown-menu {
    display: block;
    position: relative;
    width: 98%;
}
}
@media only screen  and (min-width:426px) and (max-width:600px){
  .lcaret{
    /* margin-left:368px !important; */
  }
  .dropdown-menu li {
      background-color: #b01e00;
      /* width: 530px; */
      width:100%
      height: 34px;
  }
}
@media only screen and (min-width:384px)  and (max-width:425px){
  .lcaret{
    /* margin-left:210px !important; */
  }
  .dropdown-menu li {
      background-color: #b01e00;
      /* width: 372px; */
      width: 100%;
      height: 34px;
  }
  .header-flex .youtube-float-center {
    margin: 12.4% 0% 0% 24%;
  width: 50%;
  height: 21%
  }
}
@media only screen  and (max-width:383px){
  .lcaret{
    /* margin-left:123px !important; */
  }
  .dropdown-menu li {
      background-color: #b01e00;
      /* width: 284px; */
      width:100%;
      height: 34px;
  }
  .header-flex .youtube-float-center {
    /* margin: 12.4% 0% 0% 24%; */
    margin: 17.5% 0% 0% 21.8%;
    width: 50%;
    height: 21%
  }
}

.annhead{
  background-color: #b01e00;

}
.hideme{
  display: none;
}
.navbar-toggle{
  display: none;
}
.announcements-container{
  clear: both;
}
.youtube-container{
  display: none;
}
.pagepull-left{
  width: 59.6%;
}
 .dropdown-menu a:hover {
    padding: 7px 10px !important;
    text-shadow: none !important;
    background: #fff !important;
    color: black !important;
}
.nomargin-left{
  margin-left: 0%;
}
.nabbar{
  max-width: 100%;
  width: 100%;
  margin-left: 0%;
  margin-top: 10%;
}
.drp-nabbar{
  max-width: 100%;
  width: 100%;
}
li.active {
  background-color: white;
}
.tablist{

}
