
/* Bootstrap v3.3.6 (http://getbootstrap.com)
 */

/* Banner Starts */
@img-path: '../../../../img/resource/';
body{
	background-color: #fff;
}

/*START ABOUT US auth.AC*/
.about-container{
	&:extend(.article-container);
	p{
		margin: 5px 75px;.line-height3();.text-justify();
	}
	.container{
		.box-shadow();padding-top: 5px;
	}
}
.about-body{
	.size(100%,100%); position: relative;
}
.about-hr{
	border: 0 solid @gray; border-top-width: 1px;.size(35%,0);
	&:before{
		content: "";
		.size(10%,12px);
		.absolute-center();
		background-color: @red; top:30px;
	}
}

/*END ABOUT US auth.AC*/


/*JOIN THE TEAM STARTS HERE*/
.join-container{
	.size(100%,800px); position:relative; color:@white;
}
.join-bg{
	.bg-image-dynamic(); position: absolute;
}
.join-body{
	.size(100%,100%); position: absolute;
	article{
		margin-top:2%;
	}
}
.join-hr,.event-hr{
	border: 0 solid @white; border-top-width: 1px;
	.size(25%,0);
	&:before{
		content: "";
		.size(10%,12px);.absolute-center();
		background-color: @neon-green; top:15px;
	}
}
.join-form{
	.size(90%,60%); margin-top:11%;
	/*.form-group{
		margin: 23px 25px;
	}*/
	.form-control{
		    height: 70px; padding: 6px 30px; background:transparent;
		    border-radius: 0px; font-size: 17px;
	}
	.join-submit{
		padding:6px 70px; color: @white; border: 3px solid @white;
	}
}
.join-block{
	width: 25%;
	display: inline-block;
	background: rgba(0,0,0,0.01);
}
.join-bot{
	margin-bottom: 3%;
}
#country{
	padding: 0px;
	width: 275px;
	background: rgba(0,0,0,0.01);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
#country option {
	font-size: 12px;
	color:black;
}
#country-formgrp{
	margin: 23px -30px;
}
.error-class{
	height: 20px;
}
/*JOIN THE TEAM ENDS HERE*/


/*COUNT STARTS HERE*/
	.count-container{
		.size(100%,230px); position:relative; color:@black; background-color: @white;
	}
	.count-bg{
		&:extend(.join-bg);
		background-size: 100% 100%;
	}
	.count-body{
		&:extend(.join-body);
	}
	.count-body .col-sm-4{
		padding:0px;
	}
	.count-body span{
		font-size: 70px;
	}
/*COUNT ENDS HERE*/

/*ARTICLE STARTS HERE*/
.article-container{
	.size(100%,initial); color:@black; background-color: @white;
	h1{
		color:@neon-green; margin: 20px 0px;
	}
	p, span{
		color: @gray; word-spacing: 3px;
	}
	hr{
		 background-color: @neon-green; border-top-width: 2px;
		.size(60px,10px);
	}
	section span{
		  	display: inline-block; margin-bottom: 20px; color: #1d1d1d; line-height: 25px;
	}
	.sect-body{
		.column-count(2); .column-gap(130px); margin-top: 3%; height: 70%;
	}
}
.sect-button i{
	border: 3px solid red; padding: 5px 8px; border-radius: 50%;
	.size(30px,30px); display: inline-block; margin-right: 10px;
}
/*ARTICLE ENDS HERE*/

/*EVENT STARTS HERE*/

.event-container{
	.size(100%,870px); border-bottom: 25px solid @neon-green; position:relative; background-color: @white;
}
.event-left{
	.size(60%,100%);float: left;
}
.event-bg{
	.bg-image-dynamic(); background-size: 100% 100%;
}
.event-content{
	position: absolute; .size(60%,100%); margin-top: 2%;
	h1{
	width: 50%; margin: 0 auto; color: @white;
	}
}
.event-hr{
	.size(35%,0);border-top-width: 1px;
	&:before{
		background-color: @white; .size(15%,10px); 
	}
}
.event-desc{
	.size(70%,initial);margin: 4% 22%;
	label{
		display: inline-block; width: 100px;
	}
	hr{
		border-width: 1px; .size(80%,0); border-color: @neon-green;float: left;margin-top: 15px;
	}
}
.event-num{
font-size: 70px; color:@red;
}
.event-date{
font-size: 35px; line-height: 25px; color: @red;
	span{
		color: @black;
	}
}
.event-text{
	h3{
		color: @neon-green; margin-top: 0;
	}
	p{
		line-height: 1.5; word-spacing: 2px;
	}
}
.event-right{
	.size(40%,100%);float: left;
}
.event-right-bg{
	.bg-image-dynamic();
}
/*EVENT ENDS HERE*/

/*MEDIA SECTION STARTS HERE*/
@media screen and (max-width: 1301px){
	.event-desc {
		width: 90%; margin: 4% 5%;
	}
	.join-form {
		width: 100%;
	}
	.join-container{
		.size(100%,700px); 
	}
}
@media screen and (max-width: 1199px){
	/*.join-form {
		width: 100%;
	}
	.join-container{
		.size(100%,700px); 
	}*/
	.join-block {
		width: 30%;
	}
}
@media screen and (max-width: 1019px){
	.event-desc hr{
		width: 70%;
	}
}
@media screen and (max-width: 1015px){
	.event-num {
		font-size: 7vw;
	}
	.event-date,.event-date span {
		font-size: 3vw;
	}
	.event-desc label {
		width: 45%;
	}
}
@media screen and (max-width: 1055px){
	.join-form .form-group {
		margin: 13px 10px;
	}
	.join-form .form-control {
		padding: 6px 10px;
	}
	#country, #country option{	
    	width: 235px;
	}
}
@media screen and (max-width: 991px){
	.join-hr:before{
		top: -3px; height: 8px;
	}
	.about-container{
		h1{
			font-size: 18px;
		}
		p{
			margin: 25px 100px;
			.text-justify();
			line-height: 2;
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 845px){
	.join-form .form-control{
		font-size: 14px;
	}
	#country, #country option {
		width: 195px;
	}
}
// START ABOUT US Responsive auth.AC
@media screen and (max-width:800px){
	.about-container{
		h1{
			font-size: 18px;
		}
		p{
			margin: 10px 20px;
			.text-justify();
			line-height: 1.8;
			font-size: 12px;
		}
		.about-hr{
			width: 200px;
			&:before{
				width: 70px;
			}
		}
	}
}
// END ABOUT US Responsive auth.AC
@media screen and (max-width: 767px){
	.join-container{
		height: 650px;
	}
	.join-form{
		 margin-top: 5%;
	}
	.join-form .form-group{
		margin: 0px;
	}
	.join-form .form-control{
		.size(45%,60px);float: left; margin: 1% 2%;
	}
	.join-body h1{
		font-size: 21px;
	}
	.join-body p{
		font-size: 13px;
	}
	.join-form .join-submit{
		width: 100%;margin: 3% 2%;
	}
	.join-hr{
		width: 200px;
		&:before{
			width: 70px;
		}
	}
	#country, #country option {
		width: 45%;
	}
	.count-container{
		height: 25vw;
		.mgtop20{
			margin-top: 0px; 
		}
	}
	.count-bg{
		background-position: 140%; background-size: cover; background-repeat: repeat;
	}
	.count-body .col-sm-4 {
		width: 30%; float: left; text-align: center;
	}
	.count-body span {
		font-size: 7vw;
	}
	.count-body p {
		font-size: 3vw;
	}
	.article-container .sect-body{
		column-count:1;
	}
	.article-container p, .article-container span, .event-container .sect-button span{
		font-size: 12px;
	}
	.article-container h1{
		font-size: 25px;
	}
	.event-container{
		height: auto;
	}
	.event-left,.event-right,.event-content{
		width: 100%; float: none; position: relative; margin: 0;
	}
	.event-right{
		height: 65vw;
	}
	.event-desc label{
		width: 15%;
	}
	.event-text h3{
		font-size: 3vw;
	}
	.event-text p{
		font-size: 2vw;
	}
	.event-content h1{
		font-size: 25px; margin-top: 5%;
	}
	.event-hr{
		width: 200px;transform: translate(0px, 15px); margin-top: 0px;
		&:before{
			width: 75px;top: -5px;
		}
	}
}
@media screen and (max-width: 650px){
	.event-desc .mgtop5{
		margin-top: 10%;
	}
	.event-desc hr {
		width: 75%;
	}
}
@media screen and (max-width: 500px){
	.event-text p{
		font-size: 3vw;
	}
	.event-num{
		font-size: 9vw;
	}
	.event-date, .event-date span{
		font-size: 4vw;
	}
	.event-desc label{
		width: 20%;
	}
}
@media screen and (max-width: 455px){
	.event-desc hr {
		width: 60%;
	}
}
// @media screen and (max-width: 700px){
// 	.article-container{
// 		.sect-body{
// 			.column-count(1); .column-gap(130px); margin-top: 3%; height: 70%;
// 		}
// 	}
// }
@media screen and (max-width: 360px){
	.join-form{
		.size(75%, 0);
		.form-group{
			.form-control{
				width: 100%;
				padding: 6px 10px;
				height: 41px;
			}
			.join-submit{
				&:extend(.form-control);
				color: @white;
				border: 3px solid @white;
			}
			.size20{
				font-size: 12px;
			}
		}
	}
	#country, #country option {
		width: 100%;
	}
}
/*MEDIA SECTION ENDS HERE*/